<a href="https://colab.research.google.com/github/rprakashiyer/Python/blob/main/Python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
print("Hi How are you? This is my first Python Practise book")

Hi How are you? This is my first Python Practise book

Using Operators, and Print function

In [1]:
a = float(input("Enter a number:"))

b = int(input("Enter a number:"))

add = a + b

sub = a - b

mul = a * b

div = a/b

mod = a%b

coeffi = a//b

print("Add is :",add)

print("Sub is :",sub)

print("mul is :",mul)

print("div is :",div)

print("mod is :",mod)

print("coeff is :",coeffi)

Enter a number:10
Enter a number:5
Add is : 15.0
Sub is : 5.0
mul is : 50.0
div is : 2.0
mod is : 0.0
coeff is : 2.0

Printing Strings

In [2]:
str1 = 'I am a single quote string'
str2 = "I am a double quote string"
str3 = '''I am a triple quote string'''

print("String1 is: ",str1)
print("String2 is: ",str2)
print("String3 is: ",str3)
print("***************************************")

String1 is:  I am a single quote string
String2 is:  I am a double quote string
String3 is:  I am a triple quote string
***************************************

In [4]:
items =20
price=30.5
name="potato"

x,y,z=10,20,30
a,b,c=100,98.6,"Hello World"

print("Hi",name,"the no. of",items,"items price is:",price)

print("Hi %s the no. of %d items price is %f" %(name, items, price))

print("x is:",x,"\ny is:",y,"\n z is :",z)

print("a is :",a, "\nb is: ",b, "\nc is :",c)

Hi potato the no. of 20 items price is: 30.5
Hi potato the no. of 20 items price is 30.500000
x is: 10
y is: 20
 z is : 30
a is : 100
b is:  98.6
c is : Hello World

Bitwise Operation (Observe the Output)

In [5]:
a = int(input("Enter a number:"))
b = int(input("Enter b numbmber:"))

x = int(input("Enter x number:"))

print("Bitwise and:", a & b)

print("Bitwise or:", a | b)

print("Bitwise xor:", a ^ b)

print("Bitwise not:", ~a)

print("Bitwise left shift:", x << 2)

print("Bitwise right shift:", x >> 2)

Enter a number:6
Enter b numbmber:4
Enter x number:2
Bitwise and: 4
Bitwise or: 6
Bitwise xor: 2
Bitwise not: -7
Bitwise left shift: 8
Bitwise right shift: 0

If Statement usage

In [13]:
age = int(input("Enter an age :"))

if age >= 18:
    print("Person eligible for vote")
print("Person not eligible for vote")

Enter an age :34
Person eligible for vote
Person not eligible for vote

In [14]:
age = int(input("Enter an age:"))

if age >= 18:
    print("Person eligible for vote")
else:
    print("Person not eligible for vote")

Enter an age:29
Person eligible for vote

Membership Operator usage

In [15]:
string = "Besant"

res = "Be" in string

res1 = "f" in string

res2 = "k" not in string

res3 = "B" not in string

print("Res:",res)

print("Res1:",res1)

print("Res2:",res2)

print("Res3:",res3)

Res: True
Res1: False
Res2: True
Res3: False

How to Break statement in a loop

In [6]:
for i in range(1,6):
    if i == 3:
        break
    print("i is:",i)

i is: 1
i is: 2

How to use Continue statement in a loop

In [7]:
for i in range(1,6):
    if i == 3:
        continue
    print("i is :",i)

i is : 1
i is : 2
i is : 4
i is : 5

For Loop Examples

In [8]:
for i in range(5):
    print("Value is :",i)
print("************************")

for j in range(1,5):
    print("Value is :",j)
print("------------------------")

for k in range(1,10,2):
    print("Value is :",k)

Value is : 0
Value is : 1
Value is : 2
Value is : 3
Value is : 4
************************
Value is : 1
Value is : 2
Value is : 3
Value is : 4
------------------------
Value is : 1
Value is : 3
Value is : 5
Value is : 7
Value is : 9

Pass Statement usage

In [9]:
for i in range(1,100):
    pass

Usage of Relational Operator

In [10]:
a = 10

b = 20

print("less than is:",a<b)

print("greater than is:",a>b)

print("less than equal to :",a<=b)

print("greater than equal to :",a>=b)

print("not equal to :", a!=b)

print("equal to :",a==b)

less than is: True
greater than is: False
less than equal to : True
greater than equal to : False
not equal to : True
equal to : False

While Loop EXample

In [11]:
i = 0
while i < 10:
    print("i is :",i)
    i = i + 1
print("After exist from loop")

i is : 0
i is : 1
i is : 2
i is : 3
i is : 4
i is : 5
i is : 6
i is : 7
i is : 8
i is : 9
After exist from loop

Sum of Digits using While Loop

In [12]:
num = int(input("Enter a number"))

sum = 0
rem = 0

while num > 0:
    rem = num % 10
    sum = sum + rem
    num = num // 10
print("Sum of given num is",sum)

Enter a number54
Sum of given num is 9

Pattern using * (Nested fo loop)

In [16]:
for i in range(1,6):
    for j in range(i):
        print("*",end=" ")
        #print("*")
    print("\n")

*

* *

* * *

* * * *

* * * * *

Nested While Loop

In [17]:
x = 0
y = 0

while x < 5:
    y = 0
    while y < 3:
        print("x is",x,"y is:",y)
        y = y + 1
    x = x + 1

x is 0 y is: 0
x is 0 y is: 1
x is 0 y is: 2
x is 1 y is: 0
x is 1 y is: 1
x is 1 y is: 2
x is 2 y is: 0
x is 2 y is: 1
x is 2 y is: 2
x is 3 y is: 0
x is 3 y is: 1
x is 3 y is: 2
x is 4 y is: 0
x is 4 y is: 1
x is 4 y is: 2